@import "prismjs/themes/prism-solarizedlight"

$font-stack:    Helvetica, sans-serif
$primary-color: #333

@font-face
   font-family: 'Playfair Display', serif


body
  font: 100% $font-stack
  color: $primary-color
  background-color: #eee
  margin: 0
.main-inner
  width: 1180px
  margin: 0 auto
.sidebar
  width: 220px
  position: fixed
  top: 0.1rem
  padding-bottom: 30px
  background: #fff
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12)
  .sidebar-banner
    height: 2rem
    margin-bottom: 2rem
    background-color: #87F4D7
  .profile-container
    margin: auto
    width: 110px
    margin-bottom: 1rem
    .profile-pic
      border: 1px solid #ddd
      width: 110px
  .author-container
    text-align: center
    margin-bottom: 1rem
    font-weight: bold
    font-size: 1.3rem
  .author-description
    word-break: break-all
    margin: auto
    margin-bottom: 2rem
    width: 150px
    color: grey
    font-size: 0.8rem
  .social-list
    margin: 0 auto
    .social-link
      text-align: center
      display: block
      margin: 0 30px 16px 30px
      &:hover
        text-decoration: none
        color: #000
.main-content
  background-color: #fff
  width: 700px
  margin: auto
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12)
  .banner-container
    height: 180px
    background-image: url(../../static/banner.jpg)
    background-size: cover
    background-position: center
  .header-container
    margin: 2rem 0 3rem 1rem
  .site-title
    font: 1.5rem 'Playfair Display', serif
    display:block
    float: left
  .site-nav
    list-style-type: none
    margin: 0
    padding: 0
    overflow: hidden
    display: inline
    float: right

    .site-link
      float: left

      a
        font-size: 1.15rem
        display: block
        color: black
        text-align: center
        padding: 12px 16px
        text-decoration: none
        color: #2793e6
        transition: background-color 0.2s
        &:hover
          background-color: #87F4D7
          color: #000

@media (max-width: 860px)
  .sidebar
    display: none
  .main-content
    width: 100%
  html
    font-size: 40px