@import "typo.css"
.post-list
  margin: 2rem 0 2rem 2rem
  padding-bottom: 2rem

.post-item
  margin-bottom: 3rem
  background: white
  .post-date
    font-size: 1.4rem
    color: grey
    margin-right: 1.3rem
  .post-link
    font-size: 1.4rem
    font-weight: 500
    text-decoration: none
    color: black
    padding: 0.5rem
    background-image: linear-gradient(120deg, #47e563c0 0%, #41f2f2Ac 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.15em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
    &:hover
      background-size: 100% 88%;
  .post-excerpt
    margin: 0 1rem 0 1rem